.Three {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid black;

  &:active {
    cursor: grabbing;
  }

  #canvas {
    div {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .html {
      color: white;
      background-color: gray;

      &:hover {
        border-radius: 100px 100px;
        background-color: rgba(black, 0%);
        width: 150px;
      }

      .textbox1 {
        padding-left: 10px;
        border-radius: 10px 10px 10px 0px;
        background-color: gray;
      }
    }
  }
}