.Three {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid black;

  &:active {
    cursor: grabbing;
  }

  #canvas {
    div {
      width: 100%;
      color: white;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none
    }
  }
}