.thumbnail {
  .boxes {
    width: 400px;
    margin: auto;
    display: flexbox;
    flex-wrap: wrap;

    .box {
      display: flex;
      margin-bottom: 20px;
      cursor: pointer;

      .image {
        margin: auto;
        min-width: 189px;
        min-height: 106px;
        max-height: 106px;
        overflow: hidden;
        border: 1px solid black;
        border-radius: 1px;
        margin-right: 3px;

        img {
          max-height: initial;
          height: 142px;
          margin-top: -9.3%;
        }
      }
    }
  }
}