.thumbnail {
  .boxes {
    width: 400px;
    margin: auto;
    display: flexbox;
    flex-wrap: wrap;

    .box {
      display: flex;
      margin-bottom: 20px;

      .image {
        margin: auto;
        width: 200px;
        height: 112px;
        overflow: hidden;
        border: 1px solid black;
        border-radius: 1px;
        margin-right: 3px;

        img {
          max-height: initial;
          width: 200px;
          margin-top: -9.3%;
        }
      }
    }
  }
}